*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    
}
main{
    color:#007cba ;
}


/* ------------------------- */
/* Encabezado */
/* ------------------------- */
.head{
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007cba;
    padding: 1rem;
    
}
.head a{
    color: white;
    text-decoration: none;
    min-width: 100px;

}
.home{
    display: none;
}
.head__home img{
    width: 50px;
    margin-right: 20px;
}
@media (min-width: 350px){
    .home{
        display: flex;
    }
}


.logo {
    font-size: 2rem; 
}

.header__menu {
    text-align: right;
}
.header__menu--perfil {
    display: flex;
    align-items: center;
}
.header__menu ul {
    display: none;
    list-style: none;
}
.header__menu:hover ul,
ul:hover {
    display: block;
}
.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover {
    text-decoration: underline;
}
/* ------------------------- */
/* Contenedor Principal */
/* ------------------------- */
.container{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    height: 85vh;
    padding: 1rem;
}
.c{
    height: 70vh;
    
    width: 100%;
    
}
.date{
    display: flex;
    height: 30px;
    margin: 10px auto;
    width: 100%;
}
.date input{
    margin: 0 auto;
}
.form{
    width: 100%;
}
/* ------------------------- */
/* lista insertada */
/* ------------------------- */
.result{
    background-color:#007cba;
    border-radius: 1rem;
    display: flex;
    margin-bottom: 1rem;
}

.botones{
    width: 25%;
    max-width: 100px;
    
}
.botones button{
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0px;
}
button:disabled{
    background-color: rgba(209, 190, 190, 0.788);
}
.top{
    width: 90%;
    margin: 0 auto;
}
.top h2{
    width: 80%;
    margin: 0 auto;
    color: red;
    
}
.ingresos h2{
    color:#00FF00
}
.up{
    width: 80%;
    margin: 0 auto;
    justify-content:space-between
    margin: 0 auto;
}

.result__tablero{
    width: 75%;
    color: white;
}

.box{
    margin: 0.5rem auto; 
    width:100%;
    max-width: 300px;
}
.box input{
    color: white;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    padding: 0px 20px;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
    color:  #007cba;
    width: 100%;
    font-size: 1.6rem;
    min-width: 100px;
    max-width: 300px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: white;
}
.box button{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: 'muli' sans-serif;
    height: 50px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}
.form{
    background-color:#007cba;
    justify-content: space-around;
    border-radius: 3rem;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin: auto;
}

/* ------------------------- */
/* Pantalla table */
/* ------------------------- */

@media (min-width: 600px){  
    
    .box{
        
    }
    .logo {
        font-size: 3rem; 
    }

    /* ------------------------- */
/* Pantalla pc */
/* ------------------------- */

@media (min-width: 800px){  

.logo {
    font-size: 4rem; 
}
}